
/**
 * Button
 *
 * The first line is the section title, everything else is the description. You can also specify the section name
 * using the `@section` tag below. e.g. `@section Button`.
 *
 * [Check out the LivingCSS documentation](https://github.com/straker/livingcss)
 *
 * #### This is an `<h4>` heading
 *
 * We can make description as many lines as we want. And use **whatever** *markdown* we want.
 *
 * [Link to Github's markdown guide](https://guides.github.com/features/mastering-markdown/)
 *
 * @example
 * <button type="button" class="btn">Default</button>
 * <button type="button" class="btn btn-primary">Primary</button>
 * <button type="button" class="btn btn-success">Success</button>
 * <button type="button" class="btn btn-info">Info</button>
 * <button type="button" class="btn btn-warning">Warning</button>
 * <button type="button" class="btn btn-danger">Danger</button>
 * <button type="button" class="btn btn-link">Link</button>
 * <br><br>
 * <button type="button" class="btn btn-primary btn-outline">Primary</button>
 * <button type="button" class="btn btn-danger btn-outline">Danger</button>
 *
 * @section
 * @page Atoms
 */

@import "../variables";

.btn.btn-outline {
    background-color: transparent;

    &:hover, &:focus, &:active {
        outline: 0;
    }
}

.btn-primary {

    &.btn-outline {
        color: $btn-primary-bg;

        &:hover, &:focus, &:active {
            background-color: rgba($btn-primary-color, 0.95);
            color: $btn-primary-bg;
        }
    }
}

.btn-danger {

    &.btn-outline {
        color: $btn-danger-bg;

        &:hover, &:focus, &:active {
            background-color: rgba($btn-danger-color, 0.95);
            color: $btn-danger-bg;
        }
    }
}
